/** Add css rules here for your application. */
body {
  background-color: rgba(191, 191, 191, 0.259) !important;
  padding: 0;
  margin: 0 !important;
}

#navBar {
  min-height: 50px;
  background-color: rgb(35, 35, 35);
  width: 100%;
  margin-bottom: 20px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.807);
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#estatesContainer {
  width: 100%;
  min-height: 50px;
  background-color: rgba(176, 176, 176, 0.403);
  display: inline-flex;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

#estatesContainer .containerEstate {
  background-color: rgba(207, 207, 207, 0.458);
  min-height: 300px;
  padding: 0;
  min-width: 20%;
  max-width: 20%;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.542);
  -webkit-box-shadow: 9px 10px 15px -6px #363636; 
  box-shadow: 9px 10px 15px -6px #363636;
  overflow: hidden;
}
#estatesContainer .containerEstate tr{
  height: fit-content;
  display: inline-table;
  width: 100%;
}



#estatesContainer .containerEstate:hover{
  scale: 105%;
  cursor: pointer;
  transition: all 0.2s ease;
}

#estatesContainer .containerEstate .bodyContainerEstate {
  padding: 20px;
  background-color: rgb(198, 195, 196);
  max-height: 200px;
  min-height: 200px;
  height: 200px;
  width: 100%;
}

#estatesContainer .containerEstate .bodyContainerEstate .imageSectionContainer {
  width: 100%;
}

#estatesContainer .containerEstate .bodyContainerEstate .imageContainer {
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  background-color: black;
  background-color: black;
  width: 100%;
}

#estatesContainer .containerEstate .titleEstateContainer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  border-bottom: 3px solid rgba(0, 0, 0, 0.547);
  text-align: center;
  color: white;
}

#estatesContainer .containerEstate .titleEstateContainer .gwt-Label{
  text-align: center;
  font-size: 1rem;
}

#estatesContainer .containerEstate img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#errorMessagePage {
  color: red;
}

#estatesContainer .containerEstate .textContainerDetail {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#estatesContainer .containerEstate .textContainerDetail .gwt-Label{
  text-align: center;
  font-size: 1rem;
  
}
#estatesContainer .containerEstate .buttonsContainer {
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  justify-items: center;
}

#estatesContainer .containerEstate .buttonsContainer button {
  margin: 0 10px;
}

.gwt-Button {
  border: 1px solid rgba(0, 0, 0, 0.495) !important;
}

.gwt-Button:hover {
  scale: 104%;
}

.gwt-Button.deleteBtn {
  background: rgb(191, 35, 35) !important;
  color: white;
}

.gwt-Button.infoBtn {
  background: rgba(50, 127, 190, 0.58);
}